<% include ./partials/add_header %>


<h1>Edit <%=blog.question%> </h1>
<p>Please fill out all fields</p>

<h2>Which Product(s) is this question applicable to</h2>
<p>Select at least one</p>
<form action="/help/<%=blog._id%>?_method=PUT" method="POST">
<!-- Product Selection Area -->
<div class="ui form">
    <div class="field">
        <select multiple class="ui dropdown" name="cat" id="cat">
            <option value="General">General</option>
            <option value="HT25">HT25</option>
            <option value="WT15">WT15</option>
            <option value="WT25">WT25</option>
            <option value="Hub">Hub</option>
        </select>
    </div>
</div>

<!-- Question Section -->
    <div class="ui fluid container">
        <div class="ui form">
            <div class="field">
                <label for="question"><h2 class="headlabel">Question Being Answered</h2></label>   
                <input name="question" id="question1" placeholder="enter question here" value="<%=blog.question%>"></input>
            </div>
        </div>
    </div>

<!-- Quill JS Editor -->
    <div id="ql-box" class="ui fluid form">
        <label><h2 class="headlabel">Response</h2></label>
        <div id="editor">
            <%-blog.answer%>
        </div>
    </div>
    
    <!-- Make Live Section -->
    <div class="ui toggle checkbox" id="makelive">
        <input type="checkbox" value="<%=blog.display%>" id="check1">
        <label><h2>Make Live?</h2></label>
    </div>

    <!-- Save & Delete Buttons -->
    <div id="button-box">
        <button class="ui positive basic button" onclick="test2ab()">Save</button>
        <button class="ui negative basic button">Delete</button>
    </div>

</form>

<script>
    $('.ui.dropdown').dropdown();
</script>

<% include ./partials/footer %>
