<% include ./partials/add_header %>


<h1>Edit <%=blog.question%> </h1>
<p>Please fill out all fields</p>

<h2>Which Product(s) is this question applicable to</h2>
<p>Select at least one</p>
<!-- Product Selection Area -->
<form class="ui form" action="/help/<%= blog._id %>?_method=PUT" method="POST">

<div class="ui form">
    <div class="field">
        <select multiple class="ui dropdown" name="blog[products]" id="products">
            <option value="General">General</option>
            <option value="HT25">HT25</option>
            <option value="WT15">WT15</option>
            <option value="WT25">WT25</option>
            <option value="Hub">Hub</option>
        </select>
    </div>
</div>

<!-- Question Section -->
<div class="ui fluid container">
    <div class="ui form">
        <div class="field">
            <label for="blog[question]"><h2 class="headlabel">Question Being Answered</h2></label>  
            <input type="text" name="blog[question]" value="<%=blog.question%>"> 
        </div>    
    </div>
</div>


<!-- <div class="ui fluid container">
    <div class="ui form">
        <div class="field">
            <label for="question"><h2 class="headlabel">Question Being Answered</h2></label>   
            <input name="question" id="question1" placeholder="enter question here" value="<%=blog.question%>"></input>
        </div>
    </div>
</div> -->

<!-- Quill JS Editor -->
<div id="ql-box" class="ui fluid form">
    <label for="blog[answer]"><h2 class="headlabel">Response</h2></label>
    <input type="hidden" name="blog[answer]" id="answer">
    <div id="editor">
        <%-blog.answer%>
</div>
</div>
    
<!-- Make Live Section -->

<div class="ui selection dropdown">
    <input type="hidden" name="blog[display]">
    <i class="dropdown icon"></i>
    <div id="display" class="default text"></div>
    <div class="menu">
        <div class="item" data-value="1">Active</div>
        <div class="item" data-value="0">Not Active</div>
    </div>
</div>

<!-- Save & Delete Buttons -->
<input type="submit" class="ui green big basic button">
</form>
<form action="/help/<%= blog._id %>?_method=DELETE" method="post">
    <button class="ui negative basic button" id="delete">DELETE</button>
</form>

<script>
    $('.ui.dropdown').dropdown();
</script>

<% include ./partials/footer %>
